:root {
  --color1: #05b1b1;
  --color2: #52339a;
}

/* Цвета */

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.bg1 {
  background-color: var(--color1);
}

.bg2 {
  background-color: var(--color2);
}

/* Общие настройки разделов сайта */

header,
footer,
section {
  padding: 100px 0;
}

header {
  padding: 100px 0 150px;
}

/*
* Градиентный кроссбраузреный фон для header и footer
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
header,
footer {
  background: var(--color1), url(../img/pattern.png);
  background-repeat: repeat;
  background-size: cover;
  background: -o-linear-gradient(
    45deg,
    var(--color1) 0%,
    rgba(43, 115, 166, 1) 60%,
    var(--color2) 100%
  );
  background: linear-gradient(
    45deg,
    var(--color1) 0%,
    rgba(43, 115, 166, 1) 60%,
    var(--color2) 100%
  );
}

/* heder */

.main_header {
  margin-top: 10px;
}

.its_play {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.its_play:hover {
  background-color: var(--color2);
}

.its_triangle {
  margin-right: -4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent var(--bs-white);
}

.btn-its {
  margin: 50px 0;
  color: var(--bs-white);
  background-color: var(--color2);
}

.btn-its:hover {
  color: var(--bs-white);
  background-color: var(--color1);
}

/* О курсе */

.about {
  background-color: #eee;
}

.about span {
  font-size: 25px;
  color: var(--color2);
}

.its-circle {
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  border: 3px solid var(--color2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 100px;
  height: 3px;
  background-color: var(--color1); 
  margin: 15px auto 30px;
}

/* Модальное окно */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* @includes media-breakpoint-down(sm) {
  .logo-img {
    width: 80%;
  }
} */

/* Медиазапросы для адаптивной верстки */

@media (max-width: 576px) {
  .logo-img {
    width: 80%;
  }
}
